@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../res/images/background.png');
  color: white;
  overflow: hidden !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}